h1 {
    color:rgb(46, 46, 136);
    padding: 5px;
    margin: 5px;
    border:1px black solid;
}
#hello {
    color:green;
    padding: 5px;
    margin: 5px;
    border:2px black dotted;

}
/* . - для class */
.par1 {
    background-color:firebrick;
}
.par2 {
    background-color: rgb(121, 75, 15);
}
img {
    width: 100px;
    height: 100px
}
